@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --marromEscuro: #984c2a;
    --marromClaro: #d0916c;
    --bege: #dbcbbe;
    --cinzaMarrom: #797464;
    --cinza: #6a6d5b;

    --titulo: "Montserrat", sans-serif;
    --textoPadrao: "Roboto Flex", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a, li {
    list-style: none;
    color: var(--bege);
}

body {
    background-color: var(--cinzaMarrom);
    color: var(--bege);
    font-size: 62.5%;
    font-family: var(--textoPadrao);
}

.container {
    max-width: 100%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}


/* MENU */


.container header{
    width: 100%;
    height: 150px;
    grid-row: 1 / 2;
    background-color: var(--cinza);
    box-shadow: 1px 1px 1px var(--marromClaro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.container header h1{
    font-size: 3.5em;
    font-weight: 400;
    text-shadow: 1px 1px 1px var(--marromClaro);
    font-variant: small-caps;
}

.container header nav ul{
    display: flex;
    font-size: 2.1em;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container header nav ul li a:hover {
    text-shadow: 1px 1px 1px var(--marromClaro);
}


/* CONTEÚDO SOBRE*/


.container main {
    grid-row: 2 / 3;
    position: relative;
}

.container main .main-sobre{
    display: flex;
    flex-direction: column;
    height: 100vh;    
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 100px;
}

.container main .main-sobre figure {
    text-align: center;
}

.container main .main-sobre figure img{
    max-width: 70%;
    border-radius: 10px 100px 50px;
    border: 2px solid var(--marromEscuro);
}

.container main .main-sobre .conteudoSobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 80%;
}

.container main .main-sobre .conteudoSobre h2 {
    font-size: 2.5em;
    font-family: var(--titulo);
    font-weight: 500;
    padding: 10px;
    text-shadow: 1px 1px 1px var(--marromClaro);
}

.container main .main-sobre .conteudoSobre p.apresentacao {
    font-size: 1.8em;
    text-align: justify;
    text-indent: 5px;
}

.container main .main-sobre .conteudoSobre .links {
    padding-top: 20px;
}

.container main .main-sobre .conteudoSobre .links a{
    background-color: var(--bege);
    border: 1px solid var(--marromEscuro);
    color: var(--cinza);
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1.6em;
}

.container main .main-sobre .conteudoSobre .links a:hover{
    background-color: var(--cinza);
    color: var(--bege);
}

/* CONTEÚDO */

.container .main-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    padding-top: 100px;
}

/* TITULOS MAIN*/

.container .main-skill h2,
.container .main-certificacoes h2,
.container .main-projetos h2,
.container .main-contato h2{
    font-size: 2.6em;
    font-weight: 500;
    font-family: var(--titulo);
    padding: 10px;
    text-shadow: 1px 1px 1px var(--marromClaro);
    text-align: center;
    font-variant: small-caps;
}

/* CONTEÚDO - SKILL */

.container .main-skill .softSkill ul,
.container .main-skill .hardSkill ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.container .main-skill .softSkill ul li,
.container .main-skill .hardSkill ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 1.6em;
    font-weight: 500;
    padding-top: 20px;
}

.container .main-skill .softSkill ul li img,
.container .main-skill .hardSkill ul li img {
    border-radius: 15px;
    border: 2px solid var(--marromEscuro);
    max-width: 100%;
}

/* CONTEÚDO - CERTIFICAÇÕES*/



/* CONTEÚDO - PROJETOS*/



/* RODAPÉ */

.container footer {
    grid-row: 3 / -1;
}
